<section class="bannerHeader container-fluid">

  <div class="bannerVidWrap">
    <video class="videoBanner" src="../../../../assets/Images/ppl-working.mp4" autoplay loop muted></video>
  </div>

  <div class="bannerOvr">
  </div>
  <!--This is how I am adding the logo behind the text for extra aesthetic-->
  <!--  -->

  <div class="bannerContent container">

    <div class="row">
        <div class="col-md-12">
          <img class="col-12" src="../../../../assets/Images/swmalogo2.png" alt="">
        </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h1 class="text-white">The #1 App Builder for Your Business</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <a href="#" class="btn cusBut1">Click to Get Started</a>
      </div>
    </div>

  </div>

</section>
