/*

colors~~~~~~~~~~~
bootstrap warning: #ffc107;

color end~~~~~~~~~~~~~~~~~

*/


.bannerHeader {
    height: 100vh;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 10px black;
}

.bannerVidWrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bannerVidWrap video{
    min-width: 100%;
    min-height: 100%;
}

.bannerOvr {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #ff6b09;
    z-index: 1;
    opacity: 0.75;
}

.bannerContent {
    text-align: center;
    margin-bottom: 150epx;
    z-index: 3;
}




/*Video Banner Content Here*/

.bannerContent h1 {
    color: #222;
}

.bannerContent a {
    border-radius: 30px;
}