<header class="bannerHeader container-fluid">
  <div class="bannerVidWrap">
    <video class="videoBanner" src="../../../../assets/Images/ppl-working.mp4" autoplay loop muted></video>
  </div>

  <div class="bannerOvr">
  </div>
  <!--This is how I am adding the logo behind the text for extra aesthetic-->
  <!-- <div class=" row justify-content-center swmaLogox">
    <div class="col-12">
      <img src="../../../../assets/Images/swmalogo2.png" alt="">
    </div>
  </div> -->

  <div class="bannerContent container">
    <h1 class="bannerVidTtl display-4 mb-4 mt-5 text-white">The #1 App Builder for Your Business</h1>
    <a href="#" class="btn btn-outline-light btn-lg mt-2">Click to Get Started</a>
  </div>
</header>
