/* Cus Button Class start */

.cusBut1 {
    border: 2px solid white;
    padding: 8px 25px 8px 25px;
    margin: 25px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    transition: color, 0.2s;
  }
  
  .cusBut1:hover {
    color: black;
    border-radius: 30px;
    background-color: white;
  }
  
  /* Cus Button Class end */

.bannerHeader {
    height: 100vh;
    display: flex;
    align-items: center;
}

.bannerVidWrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    box-shadow: 0 1px 15px black;
}

.bannerVidWrap video{
    min-width: 100%;
    min-height: 100%;
}

.bannerOvr {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #ff6b09;
    z-index: 1;
    opacity: 0.75;
}

.bannerContent {
    text-align: center;
    margin-bottom: 150epx;
    z-index: 3;
}




/*Video Banner Content Here*/

.bannerContent h1 {
    color: #222;
}

.bannerContent a {
    border-radius: 30px;
}

.bannerContent img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -3% 0 0 -125px; 
    height: auto;
    width: 250px;
    z-index: 0;
    opacity: 0.10;
}