/* Main Div for all Sections Start*/



.sectionMainDiv div h1 {
  color: white;
  font-size: 38px;
  font-weight: 100;
  text-align: center;
  margin-top: 40px;
}

.sectionMainDiv div p {
  color: white;
  font-size: 25px;
  font-weight: 200;
  margin: 0 35px;
  text-align: unset;
}
/* Main Div for all Sections End*/



/* <hr> dividers Start */

.hrDivider {
  width: 85px;
  border-top: 1px dashed white;
  margin-bottom: 40px;
}

/* <hr> dividers End */




/* Cus Button Class start */

.cusBut1 {
  border: 2px solid white;
  padding: 8px 25px 8px 25px;
  margin: 40px 40px 55px 40px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  transition: color, 0.2s;
}

.cusBut1:hover {
  color: #555;
  border-radius: 30px;
  background-color: white;
}

/* Cus Button Class end */


/*Div should cover entire section start*/

.divCover {
    margin: auto;
    position: relative;
    top:25%;
    left:0;
    right:0;
    bottom:0;
}


/*Div should cover entire section end*/


/* Icon Wrap Css Start*/

.iconWrap {
  text-align: center;
}

.iconWrap h5 {
  display: none;
  /* color: white;
  display: none;
  font-size: 25px;
  font-weight: 300;
  text-shadow: 0 2px 1px black; */
}

/* Icon Wrap Css End*/

/* Icon Image CSS properties Start */

.iconImg {
  width: 100px;
  height: auto;
  padding: 25px;
  margin: 20px;
  border: 3px solid white;
  border-radius: 20px;
  box-shadow: 0 2px 1px black;
}

/* Icon Image CSS properties End */










/* Section 1 css properties start*/

.section1 {
  background:  rgba(0, 0, 0, 0.5);
}

.section1 a {
  margin-top: 30px;
}

/* Section 1 css properties end*/


/* Section 2 css properties start*/

.section2 {
  box-shadow: 0px 10px 25px black;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../../../assets/Images/deskmockup.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Section 2 css properties end*/

/* Section 3 css properties start*/

.section3 {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../../../assets/Images/paperbg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.section3 p {
  color: white;
  font-size: 30px;
  font-weight: 300;
}

/* Section 3 css properties end*/

/* Section 4 CSS Properties Start*/

.section4 {
  box-shadow: 0px 10px 25px black;
  background: linear-gradient(to right, rgba(200, 65, 5, 0.65), rgba(200, 65, 5, 0.65)), url('../../../../assets/Images/flowerpics.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center, center;
}

.section4 p {
  text-align: justify;
  color: white;
  font-size: 30px;
  font-weight: 300;
}

/* Section 4 CSS Properties End*/

/* Section 5 CSS Properties Start*/

.section5 {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../../../../assets/Images/iphonesm.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: left;
}

.section5 a {
  margin-top: -10px;
}
/* Section 5 CSS Properties End*/



/* Media Queries!!!!!! */

@media only screen and (min-width: 767px) {

  .iconWrap h5 {
    display: inherit;
    color: white;
    font-size: 25px;
    font-weight: 300;
    text-shadow: 0 2px 1px black;
  }

}


@media only screen and (min-width: 1023px) {

  .iconImg {
    width: 125px;
    height: auto;
    padding: 25px;
    margin: 20px;
    border: 3px solid white;
    border-radius: 20px;
    box-shadow: 0 2px 1px black;
  }

  /* Main Div for all Sections Start*/



.sectionMainDiv div h1 {
  color: white;
  font-size: 50px;
  font-weight: 100;
  text-align: center;
  margin-top: 40px;
}

.sectionMainDiv div p {
  color: white;
  font-size: 35px;
  font-weight: 200;
  margin: 0 35px;
  padding-left: 25px;
  margin-right: 40%;
  text-align: unset;
}
/* Main Div for all Sections End*/



/* <hr> dividers Start */

.hrDivider {
  width: 85px;
  border-top: 1px dashed white;
  margin-bottom: 40px;
}

/* <hr> dividers End */


  .section2 {
    box-shadow: 0px 10px 25px black;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.65)), url('../../../../assets/Images/deskmockup.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .section2 h1 {
    text-align: left;
    margin-right: 54%
  }


}