
.sectionHead {
    color: white;
    text-align: center;
    font-weight: 100;
}

.bgSec2 {
    box-shadow: 0px 0px 10px black;
}

.iconImg {
    width: 80%;
    height: auto;
    border: 3px solid white;
    border-radius: 20px;
    box-shadow: 0 2px 1px black;
}

.iconWrap {
    text-align: center;
}

.iconWrap h5 {
    text-shadow: 0 2px 1px black;
}

.whtBtnClr {
    border-radius: 30px;
}

.imgHlf img{
    width: 100%;
    height: auto;
}

.ovrLay2 {

}

.overPerf {
    background: orangered;
    z-index: 1;
    opacity: 0.85;
    height:auto;
    width: auto;
    position: absolute;
}

.perfectBox {
    background-image: url('../../../../assets/Images/blueprint.jpg');
    height: auto;
    width: auto;
}

.perfectBox div p {
    font-size: 20px;
    z-index: 4;
}