<div class="sectionMainDiv">

  <!--Icons for section 1-->
  <section class="section1">

    <div class="container">

      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <h1>Tons of Features</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <hr class="hrDivider">
        </div>
      </div>

      <div class="row justify-content-center">
        
        <div class="iconWrap col-6 col-md-3">
          <img class="iconImg" src="../../../../assets/Images/icons/phone-white.png" alt="one touch calling">
          <h5>One Touch Calling</h5>
        </div>

        <div class="iconWrap col-6 col-md-3">
          <img class="iconImg" src="../../../../assets/Images/icons/gps-white.png" alt="gps tracking">
          <h5>GPS Direction</h5>
        </div>

        <div class="iconWrap col-6 col-md-3">
          <img class="iconImg" src="../../../../assets/Images/icons/share-white.png" alt="share function">
          <h5>Sharing</h5>
        </div>

        <div class="iconWrap col-6 col-md-3">
          <img class="iconImg" src="../../../../assets/Images/icons/notes-white.png" alt="push notifications">
          <h5>Push Notifications</h5>
        </div>

      </div>

      <div class="row">
        <div class="col-12 text-center">
          <a class="btn cusBut1" href="#"> Learn More </a>
        </div>
      </div>

    </div>
  </section>

  <!--Section 2 start-->

  <!--Fix the resizing issue: issue maybe related to the fact that I have yet to set the height of the row, so double check that just in case to see if it fixes that resizing issue. thanks '##Jareem '-->
  <section class="section2">
    <div class="container-fluid">

      <div class="row">
        <div class="col-xs-12 col-lg-6">
          <h1>Built to Perfection</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-3">
          <hr class="hrDivider">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-lg-8">
          <p>
            Your business's ambitious goals may require custom software. Southwest Mobile Apps has built a company that can satisfy all
            of your specific needs. Even if they require different platforms, for day to day use.
          </p>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-xs-12">
          <a href="#" class="btn cusBut1">Find Out How</a>
        </div>
      </div>

    </div>

  </section>
  <!-- Section 2 End-->


  <!--Section 3 Start-->
  <!-- This is where the carousel will fit once you get it working for now just put images
<section class="section3">
  <div class="container">
  
    <div class="row">
      <div class="col-12">
        <h1 class="text-center">Check out Some of Our Work!</h1>
      </div>
    </div>
    

    
      <div class="row"> 
        <div class="col-12">
          <p class="text-center">
            Hello World!
          </p>
        </div>
      </div>
      
    </div>
  </section>
  
-->
  <!-- Section 3 End -->



  <!-- Section 4 Start -->
  <section class="section4">
    <div class="container-fluid">

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1>We Take Time to Understand Our Customers</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <hr class="hrDivider">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 mb-5">
          <p>
            We want to make sure that we are always doing the best that we can for our clients. We never want you to feel like you've
            been left in the dark, and we definitely don't want you to feel like we don't "get" your business.
          </p>
        </div>
      </div>

    </div>
  </section>

  <!-- Section 4 End -->


  <!-- Section 5 Start -->

  <section class="section5">
    <div class="container divCover">

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1>What Are You Waiting For?</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <hr class="hrDivider">
        </div>
      </div>

      <div class="row">
        <div class="iconWrap col-12">
          <a class="btn cusBut1" href="#">Get Started Now</a>
        </div>
      </div>

    </div>
  </section>

  <!-- Section 5 End -->

</div>
