<div class="container-fluid">

  <!-- Title of first section-->
  <div class="row mt-4 mb-4">
    <div class="col-md-12">
      <h1 class="col-md-12 sectionHead" style="text-shadow: 0 2px 1px black;">Tons of Features</h1>
    </div>
  </div>

  <!--Icons for section 1-->
  <div class="container">
    <div class="row pb-2 justify-content-center">

      <div class="iconWrap col-md-2">
        <img class="iconImg p-3 mb-2" src="../../../../assets/Images/icons/phone-white.png" alt="one touch calling">
        <h5 class="text-white">One Touch Calling</h5>
      </div>

      <div class="iconWrap col-md-2">
        <img class="iconImg p-3 mb-2" src="../../../../assets/Images/icons/gps-white.png" alt="gps tracking">
        <h5 class="text-white">GPS Direction</h5>
      </div>

      <div class="iconWrap col-md-2">
        <img class="iconImg p-3 mb-2" src="../../../../assets/Images/icons/share-white.png" alt="share function">
        <h5 class="text-white">Sharing</h5>
      </div>

      <div class="iconWrap col-md-2">
        <img class="iconImg p-3 mb-2" src="../../../../assets/Images/icons/notes-white.png" alt="push notifications">
        <h5 class="text-white">Push Notifications</h5>
      </div>

      <div class="iconWrap col-12 mb-4">
        <a href="#" class="btn btn-outline-light btn-lg mt-2 whtBtnClr" style="text-shadow: 0 2px 1px black;">Learn More!</a>
      </div>

    </div>
  </div>

  <!--Section 2-->
  <div class="row bgSec2 pt-4 pb-4">

    <div class="col-md-6 imgHlf">
      <img src="../../../../assets/Images/blueprint.jpg" alt="">
    </div>

    <div class="ovrLay2">

    </div>

    <div class="col-md-6 perfectBox">
      <div class="col-12">
        <h1 class="text-white">Built to Perfection</h1>
      </div>
      <div class="col-12">
        <p>Your business's ambitious goals may require custom software. Southwest Mobile Apps has built a company that can satisfy
          all of your specific needs. Even if they require different platforms, for day to day use.</p>
      </div>

      <div class="row pb-2 justify-content-center">
        <a href="#" class="btn btn-outline-light btn-lg mt-2 whtBtnClr" style="text-shadow: 0 2px 1px black;">Find Out How!</a>
      </div>
    </div>

  </div>

  <!--Section 3-->
  <div class="row">
    <div class="col-md-6">
      App Carousel Goes Here.
    </div>
  </div>

  <!--Section 4-->
  <div class="row">
    <div class="">We take time to understand our customers</div>
  </div>

  <!--Section 5-->
  <div class="row">
    <div class="">What are you waiting for you?</div>
  </div>

</div>
