<section class="loginFull">
  <div class="container-fluid">

    <div class="row justify-content-center">

      <div class="logBox">


        <div class="col-12 mt-3">
          <h1 class="text-center">Login</h1>
        </div>
        
        <hr>

        <div class="boxContainer text-center">
          <div>  
            <a href="https://appbuilder.swba.co/login.php" class="btn btn-lg">App Builder</a>
          </div>
          <div>
            <a href="https://forms.swba.co/index.php?p=login" class="btn btn-lg mt-4">Formbuilder</a>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>
