<div class="container whatCon">
  <div class="row">
    <div class="col-12">
      <h1>Whatever You Need</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <hr class="hrDivider">
    </div>
  </div>

  <div class="row justify-content-center choose1 mb-5">
  
    <!-- Native Application -->
    <div class="col-6 na1 text-center ">
      <a href="#">
        <img class="" src="../../../../assets/Images/ixna.png" alt="">
      </a>
      </div>
      
      <!-- Progressive Web Application -->
      <div class="col-6 pwa1 text-center">
        <a href="#">
          <img src="../../../../assets/Images/ixpwa.png" alt="">
        </a>
      </div>
  </div>

</div>
